body{
    margin: 0px;
}
.nav-div{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:rgb(22, 21, 21);
    color: white;
}


.click-hover{
    margin-right: 5px;
    padding-right:10px;
    padding-left :10px;
}

.click-hover:hover{
    cursor: pointer;
    background-color:rgb(16, 15, 15);
}

.Link{
    color: white;
    text-decoration: none;

}

.Link:hover{
    color: white;
    text-decoration: underline;
    
}

.componente-renderizado{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fecha-sistema{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 35px;
    margin-top: 0px;
}


.fecha-sistema p{
   border-radius: 3px;
   border-style: solid;
   padding:10px;
   font-style: monospace;
   font-size: 15px;
   font-weight: bold;
   color: white;
   background-color:rgb(100, 13, 61);
   border-radius: 10px;
}